<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="#">Dashboard Test</a></li>
                    <li><a class="navbar-link" href="{% url 'event_regis:event_home_page' %}">Events</a></li>
                    <li><a class="navbar-link" href="#">Live Stream</a></li>
                    <li><a class="navbar-link" href="#">User Profile</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                {% block body_block%}
                {% endblock %}
            </div>
        </div>
    </body>
</html>