<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <ul>
                <li><a class="navbar-brand" href="#">Dashboard Test</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to the Website</h1>
            </div>
            <a class="btn btn-primary" href="#">Log In</a>
            <a class="btn btn-primary" href="{% url 'dashboard:registration_page' %}">Register</a>
        </div>
    </body>
</html>