{% extends 'event_regis/base_event_regis.html' %}
{% block body_block %}
    <h1>{{ event.event_name }}</h1>
    <h2>{{ event.event_start_time }}</h2>
    <p>{{ event.event_details }}</p>
    <a class="btn btn-primary" href="{% url 'event_regis:event_update' pk=event.pk %}">Edit</a>
    <a class="btn btn-primary" href="{% url 'event_regis:event_delete' pk=event.pk %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'livestream_app:livestream_view' pk=event.pk %}">Livestream</a>
{% endblock %}